body {
    background-color: rgb(51, 62, 71);
    margin: 0;
    background-position: center;
    max-width: 100vw;
    overflow-x: scroll;
    max-height: 100vw;
    scroll-behaviour: none;
}

 audio {
        width: 90vw;
        border-radius: 25px;
}
