body {
    background-color: rgb(51, 62, 71);
    margin: 0;
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    touch-action: none;
    display: flex;
    max-width: 100vw;
    max-height: 100vw;
    overflow-y: hidden;
    scroll-behavior: auto;
}

 audio {
        width: 90vw;
        border-radius: 25px;
}
